rg-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation> A schema to document trial registrations from the AEA RCT Registry.
            Influenced by Cavanagh, Jack; Fliegner,Jasmin Claire; Kopper,Sarah; Sautmann,Anja. A
            Metadata Schema for Data from Experiments in the Social Sciences (English). Policy
            Research working paper ; no. WPS 10296 Washington, D.C. : World Bank Group.
            http://documents.worldbank.org/curated/en/099945502062327217/IDU081c960a8049b504197099ff0d12be0b95375</xs:documentation>
    </xs:annotation>

    <xs:simpleType name="roleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value='Main PI'>
                <xs:annotation>
                    <xs:documentation>Registered as main PI at AEA RCT Registry.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value='Other PI'>
                <xs:annotation>
                    <xs:documentation>Other PIs listed at AEA RCT Registry.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CountryCodeType">
        <xs:annotation>
            <xs:documentation>3-letter ISO 3166 country code.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3}" />
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="PersonType">
        <xs:annotation>
            <xs:documentation>Representing a person (such as a PI).</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="name" type="xs:string" />
            <xs:element name="role" type="roleType" />
            <xs:element name="affiliation" type="xs:string" minOccurs="0" />
            <xs:element name="email" type="xs:string" minOccurs="0" />
        </xs:all>
    </xs:complexType>

    <xs:simpleType name="DOIType">
        <xs:annotation>
            <xs:documentation>A Digital Object Identifier, a DOI, with no leading http or server
                domain.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="10\.\d{4,9}\/[-._;()/:A-Z0-9]+" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="JudgmentCallType">
        <xs:annotation>
            <xs:documentation>To record a judgment call in the interpretation of a registration.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="concerning" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Single word description of what this call concerns
                        (populations, arms, interventions, ...).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="call" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Text with a short description of the judgment made.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PopulationType">
        <xs:all>
            <xs:element name="label" type="xs:string" />
            <xs:element name="country" type="CountryCodeType" />
            <xs:element name="coverage" type="xs:string" />
            <xs:element name="unit_of_randomization" type="xs:string" />
            <xs:element name="target_sample_size" type="xs:string" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="OutcomeType">
        <xs:sequence>
            <xs:element name="label" type="xs:string" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="unit_original" type="xs:string" />
            <xs:element name="unit_analytical" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InterventionType">
        <xs:sequence>
            <xs:element name="label" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The label of the intervention.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A description of what the intervention entails in the context
                        of the trial.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArmType">
        <xs:sequence>
            <xs:element name="label" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The label of the arm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="population" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The label of a population included in an arm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="intervention" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The label of an intervention applied in this arm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="n_units_planned" type="xs:int" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The number of simple units (such as individuals) planned for
                        this arm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="n_clusters_planned" type="xs:int" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The number of clusters planned for this arm.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ArmGroupType">
        <xs:sequence>
            <xs:element name="label" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A label for the armgroup.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="armlabel" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>The label of an arm included in this group.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HypothesizedValueType">
        <xs:sequence>
            <xs:element name="number" type="xs:decimal" />
            <xs:element name="comment" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OutcomeInArmType">
        <xs:sequence>
            <xs:element name="outcome" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Should reference the label of a main outcome.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="arm" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Should reference the label of an arm.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="time" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>An option to enter an integer for the logical calender time of
                        a measured outcome.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="comment" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OutcomeDifferenceType">
        <xs:sequence>
            <xs:element name="first" type="OutcomeInArmType" />
            <xs:element name="reference" type="OutcomeInArmType" />
            <xs:element name="comment" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EstimateType">
        <xs:annotation>
            <xs:documentation>This is supposed to be a catch-all type for outcomes that cannot
                easily be put in the most common forms. It might be a regression coefficient, or it
                might be a structural parameter from a complicated model.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="feature" type="xs:string">
                <xs:annotation><xs:documentation>The feature should include a full description of what the estimate entails. </xs:documentation></xs:annotation>
            </xs:element>
            <xs:element name="comment" type="xs:string" minOccurs="0" />
            <xs:element name="arm" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>One or more arms or armgroups involved in the estimation of
                        this feature</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HypothesisType">
        <xs:all>
            <xs:element name="label" type="xs:string" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="LHS" type="HsideType" />
            <xs:element name="RHS" type="HsideType" />
            <xs:element name="detailed" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>true if the hypothesis is deemed to be presented with
                        sufficient detail to be tested one specific way. false if one or more
                        elements of the hypothesis lack sufficient detail such that it can be
                        implemented in two or more ways.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="det_exp" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Paste here any description in the registration/PAP that it is
                        deemed ambiguos enough such two or more implementations can be consistent
                        with the hypothesis.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="test_heterogeneity" type="test_heterogeneityType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>This field allows the specification of a list of subgrouptest
                        elements simplifying a break-down of hypotheses by smaller groups, testing
                        for heterogeneity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="test_feature" type="xs:string" />
            <xs:element name="test_type" type="xs:string" />
            <xs:element name="control_variables" type="xs:string" />
            <xs:element name="mht_family" type="xs:string" minOccurs="0" />
            <xs:element name="howto" type="xs:string" minOccurs="0" />
            <xs:element name="comment" type="xs:string" minOccurs="0" />
        </xs:all>
    </xs:complexType>


    <xs:complexType name="subgroupsType">
        <xs:annotation>
            <xs:documentation>A specification of how a subgroup tests should be done.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="subgroups" type="xs:string">
                <xs:annotation>
                    <xs:documentation>How are the subgroups defined?</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="separate_effects" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Is there a hypothesis for each group seperately? (true/false)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="different_effects" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Is there a hypothesis about the estimates being different
                        between groups? (true/false) </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="test_heterogeneityType">
        <xs:sequence>
            <xs:element name="subgrouptest" type="subgroupsType" maxOccurs="unbounded">
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="gHtype">
        <xs:sequence>
            <xs:choice>
                <xs:element name="OutcomeDifference" type="OutcomeDifferenceType" />
                <xs:element name="HypothesizedValue" type="HypothesizedValueType" />
                <xs:element name="Estimate" type="EstimateType" />
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HsideType">
        <xs:sequence>
            <xs:element name="Houtcome" type="gHtype" minOccurs="1" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>


    <xs:element name="trial">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Title of study as registered at the AEA RCT site.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="owners">
                    <xs:annotation>
                        <xs:documentation>List of researchers involved in trial (as registered at
                            the AEA RCT site).</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="researcher" type="PersonType" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="abstract" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Abstract as recorded on the AEA RCT site.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="topics">
                    <xs:annotation>
                        <xs:documentation>Keywords listed at the AEA RCT site.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="keyword" maxOccurs="unbounded" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="registration_number" type="xs:string" />
                <xs:element name="registration_date" type="xs:string" />
                <xs:element name="aea_site_data_file" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>md5sum hash of trials.csv used for populating template.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="intervention_start_date" type="xs:string" />
                <xs:element name="intervention_stop_date" type="xs:string" />
                <xs:element name="pre_analysis_plan" type="xs:string" />
                <xs:element name="data_publication" type="xs:string" />
                <xs:element name="reports_and_materials" type="xs:string" />
                <xs:element name="relevant_papers" type="xs:string" />


                <xs:element name="populations">
                    <xs:annotation>
                        <xs:documentation>A sequence of all the populations referenced in the trial.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="population" type="PopulationType" minOccurs="1"
                                maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="main_outcomes">
                    <xs:annotation>
                        <xs:documentation>A sequence of all the main outcomes in the trial.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="main_outcome" type="OutcomeType" minOccurs="1"
                                maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="secondary_outcomes" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>A potential sequence of secondary outcomes.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="description" type="xs:string"
                                minOccurs="0" maxOccurs="unbounded">
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="interventions">
                    <xs:annotation>
                        <xs:documentation>A sequence of all interventions in the trial. Note that a
                            control condition that doesn't impact study subjects as all does not
                            need to be encoded.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="intervention" type="InterventionType" minOccurs="1"
                                maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="arms">
                    <xs:annotation>
                        <xs:documentation>A sequence of all the arms in the trial.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="arm" type="ArmType" minOccurs="1"
                                maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="armgroups" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Allows the grouping of a list of arms for documenting
                            hypotheses. It is optional to add the armgroups tag (which should come
                            after the arms tag. But if armgroups is added, then at least one
                            concrete armgroup must be added. . </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="armgroup" type="ArmGroupType" minOccurs="1"
                                maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>armgroup provides a way to reference a number
                                        of arms in the formulation of hypotheses.</xs:documentation>
                                </xs:annotation>

                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="hypotheses">
                    <xs:annotation>
                        <xs:documentation>A sequence of core hypotheses from the
                            registration/pre-analysis plan.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hypothesis" type="HypothesisType" minOccurs="1"
                                maxOccurs="unbounded" />
                            <xs:element name="comment" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>Coments about difficulties with encoding
                                        hypotheses, maybe because of ambiguity or
                                        under-specification.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="judgmentcalls" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Zero, one or many judgmentcalls for this trial.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="judgment" type="JudgmentCallType" minOccurs="0"
                                maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>